* {
	margin:0;
	padding:0;
}

body {
	background-color:#FFFFCC;
	font-family:verdana;
	font-size:12px;
}

h1 {
	font:18pt verdana;
	margin-left:10px;
}

#ttable {
	border-collapse:collapse;
	border-top:5px;
	margin:5px 10px 10px;
}

#ttable .title {
	color:#000000;
	font-size:24px;
	font-weight:400;
	padding-left:5px;
	text-align:left;
	text-decoration:none;
	width:220px;
}

#ttable .row1 {
	background-color:#FFCCCC;
	height:40px;
}

#ttable .row2 {
	background-color:#CCFFFF;
	height:40px;
}

#ttable .hr {
	text-align:right;
	width:60px;
}

.container {
	background-color:#FFFFFF;
	border:5px solid #000000;
	font:12px Verdana, Arial, Helvetica, sans-serif;
	margin:20px auto;
	padding:0;
	width:760px;
}

#next {
	float:right;
	margin-bottom:10px;
	margin-right:10px;
}

#previous {
	float:left;
	margin-bottom:10px;
	margin-left:10px;
}

#today {
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	width:100px;
}
